.CreateVenuePage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border: 5px solid rgb(0, 8, 255);
  padding: 20px;
  border-radius: 25px;
  min-height: 75px;
  color: rgb(0, 8, 255);
  font-size: 20px;
}