.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0757f7;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(222, 13, 13);
}

.header.header {
  background-color: rgb(222, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 247, 24);
  font-size: 30px;
}

