.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgb(2, 71, 72);
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgb(2, 71, 72);
}

.header.header {
  background-color: rgb(2, 71, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkorange;
  font-size: 30px;
}

