.HomePage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(2, 71, 72);
    width: 100vw;
    height: 200vmin;
    /* font-size: 20px; */
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
}

.Home-Message {
    color: darkorange;
    font-size: 1.5em;
}